exportPattern("^[[:alpha:]]+")
exportMethods(
    "calculate",
    "calculateSpecific" 
)
exportClasses(
    "AddConstSingleRule",
     "AddDoubleRule",
     "DigSumSingleRule",
     "DivDoubleRule",
     "DoubleRule",
     "ExpDoubleRule",
     "IdenSingleRule",
     "ModuloDoubleRule",
     "MultConstSingleRule",
     "MultDoubleRule",
     "NegativeSingleRule",
     "SingleRule",
     "SubsDoubleRule" 
)
